* {
    margin: 0;
    padding: 0;
}

body {
    background: hsl(210, 36%, 96%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    width: 60%;
    height: 50vh;
    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    width: 50%;
    font-size: 19px;
    margin: 3px 0 10px 0;
    border-radius: 5px;
    border: 1px solid black;
}

section {
    opacity: 1;
    background-color: white;
    width: 60%;
    height: 50vh;
    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 19px;
    text-align: center;
}