body {
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-size: 17px;
    background-color: black;
}   

.banner-destaque {
    width: 100%;
    height: 100vh;
    background-image: url(/replica-netflix/img/banner\ 1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-banner-destaque {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.logo-filme {
    margin: 0 0 15px 60px;
    width: 31%;
}

.paragrafo-titulo-destaque {
    width: 35%;
    color: white;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 25px 60px;
}

.botao-assistir {
    margin: 0 15px 0 60px;
    background: white;
    padding: 14px 30px;
    border: none;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.botao-assistir:hover {
    background-color: rgba(255, 255, 255, 0.777);
}

.botao-mais-informacoes {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 14px 30px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.botao-mais-informacoes:hover {
    background-color: rgba(109, 109, 110, 0.525);
}

.botao-mais-informacoes, a {
    text-decoration: none;
    color: white;
}

.fa-play, .fa-info-circle {
    margin-right: 12px;
}